
header{
    background:rgb(92, 112, 92);
    height:80px;
    width:100%;
    align-content: center;
}
h3{
    text-align: center;
    line-height:4px;
    display: inline-block;
    padding:16px;
    font-family: fantasy;
    color:honeydew;
    font-size: 175%;
}
.logoguerrera{
    line-height:4px;
    padding:2px;
    float:left;
}
.icono1{
    float:right;
    display:inline-block;
    line-height:4px;
    padding:22px;
}
.icono2{
    float:right;
    display:inline-block;
    line-height:4px;
    padding:22px;
}
.icono3{
    float:right;
    display:inline-block;
    line-height:4px;
    padding:20px;
}
.icono4{
    float:right;
    display:inline-block;
    line-height:4px;
    padding:18px;
}
.icono5{
    float:right;
    display:inline-block;
    line-height:4px;
    padding:21px;
}
.titulo{
    color: black;
}
