*{
    margin:0;
    padding:0;
}
body{
    background: rgb(223, 186, 160);
}
header{
    background:rgb(92, 112, 92);
    height:80px;
    width:100%;
    align-content: center;
}
h3{
    text-align:center;
    line-height:4px;
    display: inline-block;
    padding:40px;
    font-family: fantasy;
    color:honeydew;
    font-size: 175%;
}
.logoguerrera{
    line-height:4px;
    padding:2px;
    float:left;
    width:9%;
    height:9%;
}
img.icono{
    width: 50%;
    height: 50%;
}
.icono1{
    float: right;
    display:inline-block;
    line-height:4px;
    padding:22px;
}
.icono2{
    float: right;
    display:inline-block;
    line-height:4px;
    padding:22px;
}
.icono3{
    float: right;
    display:inline-block;
    line-height:4px;
    padding:20px;
}
.icono4{
    float: right;
    display:inline-block;
    line-height:4px;
    padding:18px;
}
.icono5{
    float: right;
    display:inline-block;
    line-height:4px;
    padding:21px;
}
.field {
    display:flex;
    margin:3em;
    width:80%;
    height:10%;
    padding-right:190px;
    box-shadow:
     1px 1px 0 rgb(91, 114, 99),
}
.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}
.field>input[type=text] {
    flex:1;
    padding:0.10em;
    padding-left: 20px;
}
.field>button{
    padding:0.7em 0.10em;
    background-color:rgb(26, 188, 156);
    color:white;
}
.series{
    display: block;
    float: right;
    width: 150px;
    height: 150px;
    border-radius:50% 50% 50% 50%;
    margin-top: -80px;
    margin-right: 60%;
}

.videojuegos{
    display: block;
    position: relative;		
    width: 150px;
    height: 150px;
    border-radius:50% 50% 50% 50%;
    margin-left: 57%;
    top: -12px;
}
.p2{
    outline: none;
    text-decoration: none;
    margin-right: 0.625%;
    line-height: 3;
    color: black;
    display: block;
    position: absolute;
    bottom: -315px;
    padding: 600px;
    width: 100%;
}
.p1{
    outline: none;
    text-decoration: none;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
    display: block;
    position: absolute;
    bottom: -34px;
    left: 55%;
    padding: 5px;
    width: 100%;
}
.peliculas{
    display: block;
    float: right;
    width: 150px;
    height: 150px;
    border-radius:50% 50% 50% 50%;
    margin-top: -120px;
    margin-right: 150%;
}
a{
    width: 19.5%;
    text-align: center;
    line-height: 3;
    color: black;
    text-decoration: none;
    font-family: monospace;
    font-weight:lighter;
    font-size: 100%;
}   
a:link, a:visited, a:focus{
    background: rgb(94, 129, 105);
    border-radius: 20% 20% 20% 20%;
}
a:hover{
    background: rgb(94, 125, 134);
}
a:active{
    background: rgb(204, 135, 204);
    color: white;
}
