body{
    background:rgb(233, 212, 185);
}
header{
    background:rgb(92, 112, 92);
    height: 80px;
    width: 100%;
    align-content: center;
}
h3{
    text-align: center;
    line-height:4px;
    display: inline-block;
    padding:16px;
    font-family: fantasy;
    color:honeydew;
    font-size: 175%;
}
.logoguerrera{
    line-height:4px;
    padding:2px;
    float:left;
}
.icono1{
    float:right;
    display:inline-block;
    line-height:4px;
    padding:22px;
}
.icono2{
    float:right;
    display:inline-block;
    line-height:4px;
    padding:22px;
}
.icono3{
    float:right;
    display:inline-block;
    line-height:4px;
    padding:20px;
}
.icono4{
    float:right;
    display:inline-block;
    line-height:4px;
    padding:18px;
}
.icono5{
    float:right;
    display:inline-block;
    line-height:4px;
    padding:21px;
}

.field {
  display:flex;
  margin:3em;
  width:70%;
  height:10%;
  padding-right:190px;
  box-shadow:
   1px 1px 0 rgb(91, 114, 99),
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.10em;
  padding-left: 20px;
}

.field>button{
    padding:0.7em 0.10em;
    background-color:rgb(26, 188, 156);
    color:white;
}
.icono6{
    align-self:flex-start;
    width:3%;
    height:3%;

}
.imagen1{
    width: 180px;
    height: 180px;
    padding:18px;
    border-radius: 10% 20% 20% 20%; 
    margin-left:1%;    
}
.imagen2{
    width: 180px;
    height: 180px;
    padding:18px;
    border-radius: 10% 20% 20% 20%; 
    margin-left:1%;    
}
.imagen3{
    width: 180px;
    height: 180px;
    padding:18px;
    border-radius: 10% 20% 20% 20%; 
    margin-left:2%;    
}
.imagen4{
    width: 180px;
    height: 180px;
    padding:18px;
    border-radius: 10% 20% 20% 20%; 
    margin-left:2%;    
}
.imagen5{
    width: 180px;
    height: 180px;
    padding:18px;
    border-radius: 10% 20% 20% 20%; 
    margin-left:2%;    
}
.imagen6{
    width: 180px;
    height: 180px;
    padding:18px;
    border-radius: 10% 20% 20% 20%; 
    margin-left:1%;    
}
.imagen7{
    width: 180px;
    height: 180px;
    padding:18px;
    border-radius: 10% 20% 20% 20%; 
    margin-left:1%;    
}
.imagen8{
    width: 180px;
    height: 180px;
    padding:18px;
    border-radius: 10% 20% 20% 20%; 
    margin-left:2%;    
}
.imagen9{
    width: 180px;
    height: 180px;
    padding:18px;
    border-radius: 10% 20% 20% 20%; 
    margin-left:2%;    
}
.imagen10{
    width: 180px;
    height: 180px;
    padding:18px;
    border-radius: 10% 20% 20% 20%; 
    margin-left:2%;    
}
.album{
    background: rgba(218, 180, 153, 0.824);
    border-radius: 6% 6% 6% 6%;
    margin: 2%;    
}
footer{
    background-color: rgb(177, 131, 167);
    clear:left;
    text-align: center;
    height: 30px;
    width: 100%;
    font-family: fantasy;
    
}
  